@import 'styles/theme';

.HomePage {

  &.body {
    margin: 0;
  }


  &.container {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin-top: 0em;
  margin-bottom: 0em;
  min-width: 100%;
  min-height: 100%;
  @include center;
  flex-direction: column;
  background-size: cover;
  background-image: url("../images/wargroove_bw_light.png");
  }
  
  &.button-container {
    display: flex;
    margin-top: 1em;
    width: 200px;
  }

  &.image {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  &.page-extender {
      margin-bottom: 20em;
  }

  }
