@import 'styles/theme';

.HomePage {

  &.body {
    margin: 0;
  }

  &.baseContainer {
    position:relative;
    overflow: hidden;
  }

  &.userButton-container {
    margin-top: 20px;
  }

  &.button-container-container{
    position: absolute;
    width: 100%;
    bottom: 10vh;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.container {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 20vh;
  }

  &.button-container {
    display: flex;
    margin-top: 1em;
    width: 200px;
  }

  &.page-extender {
    margin-bottom: 20em;
  }

  @mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    transform: $val;
  }

  &.backgroundImage {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 200vh;

    animation: move 60s infinite linear;
  }

@keyframes move {
  0% {
    @include transform(translate(-10%, -10%));

  }
  25% {
    @include transform(translate(-30%, -20%));

  }
  50% {
    @include transform(translate(-20%, -30%));

  }
  75% {
    @include transform(translate(0%, -20%));

  }
  100% {
    @include transform(translate(-10%, -10%));

  }
}


}


