@import 'styles/theme';

.infopage {

    &.text {
        width: 320px;
        word-wrap: break-word;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
    }

    &.image {
        width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        border: 2.5px solid $accent;
    }

    &.buttons {
        padding: 1.5em;
        text-align: center;
    }

    &.important {
        border:2.5px solid $textColorLight;
        border-radius: 5px;
        box-sizing: border-box;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 16px;

        h2 {
            text-align: center;
        }
    }
}
