@import 'styles/theme';


.scanqr {

    &.message {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 2em;
        width: 320px;
        margin: auto;
    }

    &.scanner {
        display: block;
        margin: auto;
    }

    &.container {
        padding-bottom: 8em;
    }

    &.url {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding: 0.5em;
        width: 320px;
        margin: auto;
        border: 2.5px solid $accent;
    }

    &.lobby-buttons {
        padding-top: 1.5em;
        text-align: center;
    }
}