@import 'styles/theme';


.updatelobby {

    table.lobby-info {
        border: 2.5px solid #FBC12E;
        border-radius: 10px;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
    }

    table.lobby-info td {
        text-align: left;
        color: #FBC12E;
        height: 50px;
        width: 35px;
        font-size: 1.0em;
        padding-left: 0.5em;
    }

    table.lobby-info th {
        text-align: center;
        color: darkgoldenrod;
        height: 20px;
        width: 30px;
        font-size: 1.2em;
        border-right: 2.5px solid #FBC12E;
    }

    &.lobby-title {
        color: #FBC12E;
        display: block;
        text-align: center;
        font-size: 2em;
        padding-bottom: 4.3em;
    }

    &.input-name {
        color: #FBC12E;
        background: #4A4A47;
        border: 0.5px solid #FBC12E;
        border-radius: 7px;
        height: 32px;
        width: 180px;
    }

    &.lobby-buttons {
        padding-top: 1.5em;
        text-align: center;
    }

    &.lobby-name {
        padding-left: 0.1em;
    }

    &.check {
        width: 25px;
        height: 25px;
    }

    &.space {
        padding-top: 3em;
    }
}

::placeholder {
    color: #FBC12E;
    opacity: 3;
    padding-left: 1em;
}