@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  padding-top: 80px;

  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;

  color: $textColorLight;
  font-weight: $fontweight;
}