@import 'styles/theme';

.primary-button {
    background: $accent;
    border: 3px solid $accentDark;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 175px;

    &.return {
        background: white;
    }
}
