@import 'styles/theme';

.primary-button {

    background: #FBC12E;
    border: 3px solid #604C18;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 6px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 210px;

    &.return {
        background: white;
    }
}