@import 'styles/theme';


.header {
  &.headerContainer {
    @include center;
  }

  img {
    max-width: 90vw;
    max-height: 15vh;
  }

  &.userInfo {
    position:absolute;
    top:12px;    
    right:20px; 
    font-size: 17px;
    color: $textColorLight;
    text-decoration: none
  }
}
