@import 'styles/theme';


.header {
    &.headerContainer {
        @include center;
    }

    img {
        max-width: 90vw;
        max-height: 15vh;
    }

    &.userInfo {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        padding: 6px;
        font-size: 24px;
        color: #1e1f1f;
        text-decoration: none;
        background-color:  $textColorLight;
        border-radius: 100%;
    }
}
