@import 'styles/theme';


.lobby {

    table.player-view {
        border: 2.5px solid $accent;
        align-self: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-radius: 10px;
    }


    table.player-view td {
        text-align: center;
        color: $accent;
        height: 30px;
        font-size: 1.2em;
        width: 50px;
    }

    table.player-view th {
        text-align: center;
        color: darkgoldenrod;
        height: 20px;
        font-size: 1.2em;
        border-bottom: 2.5px solid $accent;
    }

    table.lobby-info {
        border: 2.5px solid $accent;
        border-radius: 10px;
        align-self: center;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
    }

    table.lobby-info td {
        text-align: center;
        color: $accent;
        height: 20px;
        font-size: 1.1em;
    }

    table.lobby-info th {
        text-align: center;
        color: darkgoldenrod;
        height: 20px;
        font-size: 1.2em;
    }

    &.lobby-title {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 2em;
        padding-bottom: 1em;
    }

    &.lobby-labels {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    &.lobby-buttons {
        padding-top: 2em;
        text-align: center;
    }


    &.teambox {
        margin: auto;
        height: 25px;
        width: 25px;
        border: 1px solid black;

        &.team0 {
            background-color: red;
        }

        &.team1 {
            background-color: blue;
        }
    }

    &.status {
        width: 25px;
        height: 25px;
    }

    &.link {
        color: #4B72C2;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 1em;
        text-decoration: none;

        &.link:after {
            content: "  \279C";
            color: #4B72C2;
            font-size: 1.2em;
        }
    }
}

.buttonIn {
    position: relative;
    height: 32px;
    border-radius: 7px;

    &.button {
        position: absolute;
        background: $accent;
        right: 0px;
        width: 25px;
    }

    &.name {
        color: $accent;
        text-align: center;
        background: black;
        border: 0.5px solid $accent;
        width: 120px;
    }
}
