@import 'styles/theme';


.sharecode {

    &.message {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 2em;
        width: 320px;
        margin: auto;
    }

    &.code {
        display: block;
        color: white;
        text-align: center;
        margin: auto;
        width: 220px;
        padding: 1em;
        border: 2.5px solid $accent;
        cursor: pointer;
    }

    &.lobby-button {
        padding-top: 1.5em;
        text-align: center;
    }

    &.space {
        padding-top: 6.5em;
    }
}
