@import 'styles/theme';


.shareQR {

    &.message {
        color: $accent;
        display: block;
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 2em;
        width: 320px;
        margin: auto;
    }

    &.code {
        display: block;
        margin: auto;
        width: 220px;
        padding: 1em;
        border: 2.5px solid $accent;
    }

    &.buttons {
        padding-top: 1.5em;
        text-align: center;
    }
}