@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"');
@import 'styles/theme';

/**
This file contains the general and shared style of your application.
 */

h1 {
  font-size: large;
  font-weight: $fontweight;
}

h2 {
  font-size: medium;
  font-weight: $fontweight;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $fontDefault;
<<<<<<< HEAD
  //background-image: url("wargroove_bw_dark.png");
  background-color: rgb(30,31,31);
  font-weight: $fontweight;
=======
  background-color: black
>>>>>>> 7f84358a26229f456dc0fc368b35154c46e8da98
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
