@import 'styles/theme';
@mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    transform: $val;
}

#gameContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #c9b27d; /* border color */
}

.loadingContainer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;
}

.surrenderFlagContainer {
    position: absolute;
    bottom: -24px;
    left: -57px;
    min-width: 162px;
    min-height: 120px;

    img {
        width: 162px;
        height: 120px;
    }
}

.surrenderFlagContainer:hover img {
    @include transform(rotateZ(25deg) rotateY(0deg));
    animation: wave 2s infinite ease-in-out -0.5s;
    transform-origin: 50% 100%;
}

@keyframes wave {
    0% {
        @include transform(rotateZ(25deg) rotateY(0deg));
    }

    50% {
        @include transform(rotateZ(-25deg) rotateY(180deg));
    }
}

.pixelated {
    // Disable antialiasing on images
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: pixelated; /* Chrome */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}

.winnerWindow {
    font-weight: 700;
    font-size: 3em;
    line-height: 36px;
    color: #365144;
}

.loserWindow {
    font-weight: 700;
    font-size: 3em;
    line-height: 36px;
    color: #8c2016;
}

.turnIndicatorContainer {



    &.turn {
        margin-top: 0;
        font-size: xx-large;
        font-weight: bold;
    }

    &.player {
        font-size: x-large;
        margin-bottom: 30px
    }

    &.information {
        margin-bottom: 0;
    }
}

table.statistics {
    border: 1.5px solid $accent;
    border-radius: 8px;
    align-self: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

table.statistics td {
    text-align: center;
    color: $accent;
    height: 20px;
    font-size: 0.8em;
}

table.statistics th {
    text-align: center;
    color: darkgoldenrod;
    height: 12px;
    font-size: 0.7em;
}

.statisticsLabel {
    color:grey;
    font-size: 0.5em;
    margin-top: 0em;
}

.statisticsHeading {
    color:grey;
    font-size: 0.9em;
    margin-top: 0em;
    margin-bottom: 15px; 
}
.statisticsHeadingFaded {
    color:rgb(57, 57, 57);
    font-size: 0.9em;
    margin-top: 0em;
    margin: 0.2em;
    margin-bottom: 15px;
}

.switch {
    size: 0.5 em;
    font-size: 0.4em;
}

.menuContainer {
    height: 0.7em;
}
